EXPO_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
EXPO_PUBLIC_QUIZ_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSD1W8fYEorDzVNpUftAGbzhrGcR24WFmNgim293JZEjWWc0CAgcspY2xNvzI9n9lDfkp-eDpWUqY69/pub?gid=1760260323&single=true&output=csv
EXPO_PUBLIC_MENU_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSD1W8fYEorDzVNpUftAGbzhrGcR24WFmNgim293JZEjWWc0CAgcspY2xNvzI9n9lDfkp-eDpWUqY69/pub?gid=658151576&single=true&output=csv
